.DS_Store
/.build
/Packages
/*.xcodeproj/xcuserdata
/*.xcodeproj/project.xcworkspace/xcuserdata
/Apps/**/xcuserdata
/DerivedData
.swiftpm
xcuserdata/
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.env
.env.local
BobBridge.local.xcconfig
**/BobBridge.local.xcconfig
